body {
  background-color: #161616;
}
h1 {
  font-size: 3em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: space-around;
  border: 2px solid gray;
  border-radius: 5px;
  color: #d4d4d4;
  padding: 1% 0;
  margin: 3% 2% 0 2%;
}
li {
  list-style: none;
  border-left: 6px solid rgba(30, 255, 0, 0.801);
  padding-left: .5%;
}
#ligne {
  border-right: 1px solid rgba(30, 255, 0, 0.801);
  margin: 0;
}
nav {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: #d4d4d4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
}
main {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}
div {
  margin: 3% 5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
}
h3 {
  font-size: 1.5em;
  background-color: #313131;
  color: #d4d4d4;
  text-align: center;
  font-weight: bold;
  padding: 2%;
  border-bottom: 3px solid rgba(30, 255, 0, 0.801);
}
p {
  padding: 2% 7%;
  color: #d4d4d4;
  margin-top: 3%;
  line-height: 150%;
}
footer {
  background-color: #313131;
  padding-top: 6%;
  margin-top: 2%;
}
h2 {
  text-align: center;
  color: #d4d4d4;
  padding-bottom: 2%;
  font-size: .8em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}
