@couleurFond : #E8515D;
@grosseurH1 : 3em;

body {
	background-color: @couleurFond;
}

h1	{
	font-size: @grosseurH1;
	font-family: arial;
	display: flex;
	justify-content: space-around;
	border: 2px solid gray;
    border-radius: 5px;
}

li {
	list-style: none;
}
